

/* RESPONSIVE STUFF: 980 / 1000px grid ********************************************************************/
/*.container {width: 94%;padding: 0 3%;max-width: 1000px;margin: 0 auto;}*/
.container_full {	width: 98%;	padding: 0 1%;	max-width: 980px;	margin: 0 auto;}
.container_160 {	width: 16%;max-width: 160px;	margin: 0 1% 0 0;	float: left;	padding-top: 10px;}
.container_810 {	width: 81%;max-width: 810%;	margin: 0 0 0 1%;	float: right;}

/* list items */
.halves, .thirds {	list-style: none;}
.halves {	width: 106%;}
.halves > li {	width: 46.22%; /* 490 /1060 BOX SIZING */
	max-width: 490px;	padding-right: 3.77%; /* 40 / 1060 */	margin-right: 3.77%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.thirds {	width: 102.05%;}
.thirds > li {	width: 31%;max-width: 313px;	margin: 0 2% 0 0;float: left;}
.halves > li:last-child,.thirds > li:last-child {	margin-right: 0;}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: #333;
}

@media screen and (max-width: 1700px) {
	.bodysection ul li{width:15%;}
	#HomepageSlideshowOuter {/*height:500px;*/ }
}

@media screen and (max-width: 1600px) {
	.bodysection ul li{width:18%;}#HomepageSlideshowOuter {/*height:450px;*/ }
	.flexslider .slides > li > p{margin-top:50px;}
	.fixedTxt{top:-300px;}
}

@media screen and (max-width: 1140px) {

	#HomepageSlideshowOuter {height:300px; }
	.flexslider .slides > li > p{margin-top:40px;}
	#HomepageSlideshow{width:100%;}
	#Header{}
	#Header #MainNav > li {		margin: 0 5px;	}
	#AccountMenu{float:none !important}
	#Footer nav {width:100%;}
	#header .container{width:80% !important;}
	.flex-viewport {width:100% !important; }
	.bodysection ul li{width:22%;}
	.bodysection ul li a {display:block;vertical-align:top;}
	.bodysection ul li a h4{line-height:12px;font-size:11px;}
	.fixedTxt{width:500px;}
	.mainArticle article {width:100%;}
	.fixedTxt{top:-150px;}
	footer nav ul {width:20% !important;}
}

@media screen and (max-width: 1018px) { 	

	.flexslider .slides > li > p{margin-top:40px;}
	.bodysection ul li a {display:block;vertical-align:top;}
	#HomepageSlideshow,	.flexslider .slides > li {		max-height: 540px;}
	.page-template-page-partners-php iframe {		max-height: 800px;	}
}

@media screen and (max-width: 1000px) { 	
#subpagecommon{width: 100% !important; overflow:hidden !important}

#subWrap{width:100% !important;}
#subWrap .laptop-image{width:100%;height:auto;}
#subWrap .laptop-screen{width:76%;height:auto;}
#Header .container{width:100% !important;} 	   
}

@media screen and (max-width: 940px) { 

	.bodysection ul li a {display:block;vertical-align:top;}
	#Header{width:100%;}
	#Header #Logo {		float: left;		margin: 0;left: 0;		top: 30px;	}
	#Header nav{padding:0;}	
	.page-template-page-partners-php iframe {		max-height: 600px;}
}


@media screen and (max-device-width: 1024px) and (width: 1024px) {
	.page-template-page-partners-php iframe {		max-height: 450px;}

}


@media screen and (min-width: 768px) and (max-width: 1023px) {	
	#mc_embed_signup {padding-left: 16%;}
	.mainArticle dl{width:90% !important}
	.mainArticle figure{display:none !important}

}


@media screen and (max-width: 796px) {

	.mainArticle dl{width:90% !important}
	.mainArticle figure{display:none !important}
	.bodysection ul li{vertical-align:top;}
	.bodysection ul li a span{display:block;width:40px;height:40px;background-size:200%;margin-top:10px;}
	.bodysection ul li a{display:block;vertical-align:top;padding-bottom:10px;}
	#Header #MainNavOuter {		text-align: right;font-size: 1.4em;}
	#Header #MainNav {		height: auto;float:right;}
	#Header #MainNav > li {		display: block;clear: both;		margin: 0 10px;	}
	#Header #MainNav > li > a {		display: block;		height: auto;		padding: 20px 0;		text-align: center;margin-top: 0;}
	#Header #MainNav > li > a:hover,	#Header #MainNav > li:hover > a {		color: #87746A;		background-color: #F3F1F0;		
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F1F0), to(#F3F1F0));
			background-image: -webkit-linear-gradient(top, #F3F1F0, #F3F1F0);		
			background-image:    -moz-linear-gradient(top, #F3F1F0, #F3F1F0);
			background-image:     -ms-linear-gradient(top, #F3F1F0, #F3F1F0);
			background-image:      -o-linear-gradient(top, #F3F1F0, #F3F1F0);	
		}
	#Header #MainNav ul.sub-menu,	#Header #MainNav li:hover ul.sub-menu {		display: none !important;}
	.halves,	.thirds {width: 104%;}
	.halves > li,	.thirds > li {width: 96%;padding: 0 2%;max-width: 100%;margin-bottom: 30px;}
	#HomepageSecondary .halves > li:first-child {		border: 0;}
	#NewsLanding .thirds > li .outer {		max-height: 100%;}
	#mc_embed_signup {		padding-left: 0;}
	#DonateCallout h3,	#NewsLanding #DonateCallout h3 {		width: auto;		float: none;}
	#DonateCallout .btn,	#NewsLanding #DonateCallout .btn {		clear: both;		float: none;		width: 100%;		padding: 15px 0;		text-align: center;		margin-top: 30px;}
	#DonateCallout .donate_content {		width: 100%;		max-width: auto;		margin: 0;	}
	#Footer nav ul {		width:48% !important;float:none !important;display:inline-block !important;vertical-align:top !important	}
	#Footer ol > li {		display: block;clear: both;		margin: 0;width:90% !important;padding:0 !important}
	#Footer ol > li a {		display: block;padding: 10px 0;text-align: center;width:100% !important;}

	#Header #AccountMenu{display:none}
	#Header nav ul{display:none}
	.nonpcbg{position:absolute;top:74px;width:100%;z-index:5001;opacity:.5}
	.nonpc{position:absolute;top:74px;width:100%;z-index:5002;}
	.nonpc ul li{border-bottom:1px solid white;}

}


@media screen and (max-width: 640px) {

	#Header{width:100%;text-align:left;}
	#Header #Logo{top:10px;width:150px;height:50px;margin-top:10px;}
	#HomepageSlideshowOuter{}
	#HomepageSlideshow{width:100%;}
	 .flexslider .slides li h1{font-size:18px;line-height:15px;margin-bottom:10px;}
	 .flexslider .slides li h2{font-size:12px;line-height:12px;}
	.fixedTxt{width:100%;margin-top:10px;}
	.fixedTxt h3{font-size:12px;width:100%;}
	.mainArticle article{width:100%;}
	.btn{font-size:11px;}
	.bodysection ul li{vertical-align:top;}
	.bodysection ul li a span{display:block;width:28px;height:28px;background-size:200%;margin-top:10px;}
	.bodysection ul li a{display:block;vertical-align:top;padding-bottom:10px;}
	.mainArticle dl{width:90% !important}
	.mainArticle figure{display:none !important}
	#Footer ol{width:100%;}
	#Footer ol li{display:block;}
}
